
@import 'customizable';

$simplevar: #fff;

body {
display:block;
position:relative;
margin:0;
background-color: $simplevar;
padding:0;
width:auto;
height:auto;
border:solid red 1px;
background-color: blue;
}
