/*Default Base Styles*/
html {
	height:100%;
	font-size:32px;
}

body {
    display:block;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
}
.weatherwarningsmn{
    display:block;
    position:relative;
    top:1.2rem;
    min-height:.25rem;
    background-color:rgba(227, 227, 227, .2);
    border-top: solid 1px rgba(227, 227, 227, .2);
}
.main-wrapper:before{
    /**********************************************
        This is the header text at top the page
    ***********************************************/
    display:block;
    content: "Cross Cut Property Services Inc.";
    width:100%;    
    height:auto;
    margin-top:.32rem;
    margin-bottom:.32rem;
	font: 1.25rem 'Arizonia', Helvetica, sans-serif;
    font-weight: 100;
	color: #4c4c4c; //#000;//#4c4c4c;//#fff;//rgba(100, 256, 100, .6);
	//text-shadow: 1px 1px 3px rgba(100, 256, 100, .6);/; //rgba(100, 256, 100, .6);//rgba(0, 0, 0, 1); // rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .4);


}
#myCarousel{
        display:block;
        width:100% !important;
        min-width:100% !important;
        border:solid lightblue 2px; 
        clear:both;     
}
.carousel-inner{
        width:100% !important;
        height:auto;
        border:solid red 2px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
      width: 70%;
      margin: auto;
}
.carousel-inner > div > img{
        width:100% !important;
        height:auto !important;
        border:solid white 2px !important;
}


.main-wrapper{
display:block;
position:relative;
border:solid red 1px;
width:100%;
test-align: left;
min-width:100%;
margin:none;
padding:none;
clear:both;
//z-index:500;
}
.root-guide{
        display:block;
        margin:none;
        padding:none;
        min-width:100%;
        //border:solid red 2px;
}



header {
  display:block;
  z-index:700;
}

header.dark {
  background-color:transparent;
}

header.light {
  background-color: rgba(40, 87, 40, 1)
}


/* Navigation Styles */

nav {
    display:block;
    top:.97rem;
    background-color:transparent;
    margin:auto;
    border:solid blue 2px;
    //text-align:center;
    //z-index:700;
}

header.dark nav {
  background-color: transparent;
}

header.light nav {
  background-color: transparent;
}

ul.main-nav {
    display:block;
    list-style-type: none;
//float:right;
    padding: 0px;
    font-size: 0px;
    margin-left:auto;    background-color: transparent;
    border:solid white 2px;
text-align:center;
}

ul.main-nav > li {
  display: inline-block;
  //border: solid red 2px !important;
  margin:0;
  padding: 0;
  background-color: transparent;
}

ul.main-nav > li > a {
  display: block;
  padding: 20px 30px;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: transparent;
}

ul.main-nav > li:hover {
  display: inline-block;
  min-width: 18px;
  margin:0;
  padding: 0;
  background-color: transparent;
}

ul.main-nav > li:hover > a {
  color: #333;
  font-weight: 400;
  background-color: transparent;
}

ul.main-nav > li ul.sub-menu-lists {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

ul.main-nav > li ul.sub-menu-lists > li {
  padding: 2px 0;
}

ul.main-nav > li ul.sub-menu-lists > li > a {
  font-size: 437rem;
}

blockquote { 
  max-width: 100%; 
  margin:0px;
  padding:.25rem;
  padding-left:0px;
  text-align:left;
  font-size: .437rem; 
  color:white;
  border:solid green 1px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.txtwrap{
 white-space: pre-wrap   !important;    /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap !important;      /* Opera 4-6 */
 white-space: -o-pre-wrap !important;    /* Opera 7 */
 word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}

blockquote h2 { padding-right: 40px; margin: 0px; }
header.dark blockquote a {color: orange; text-decoration: underline;}
header.light blockquote a {text-decoration: underline;}


.ic {
  position: fixed;
  cursor: pointer;
  display: inline-block;
  right: 25px;
  width: 32px;
  height: 24px;
  text-align: center;
  top: 0px;
  outline: none;
}

.ic.close {
  opacity: 0;
  font-size: 0px;
  font-weight: 300;
  color: #fff;
  top: 8px;
  height: 40px;
  display: block;
  outline: none;
}


/* Menu Icons for Devices*/

.ic.menu {
  top: 25px;
  z-index: 20;
}

.ic.menu .line {
  height: 4px;
  width: 100%;
  display: block;
  margin-bottom: 6px;
}

.ic.menu .line-last-child {
  margin-bottom: 0px;
}

.sub-menu-head {
  margin: 10px 0;
}
  .sub-menu-head {
    color: orange;
  }

.banners-area {
  margin-top: 20px;
  padding-top: 15px;
}
@media only screen and (max-width:54rem){

        #slogan{
                max-width:6.1rem !important;
                height:auto;
                
        }
        #slogan #mnoutline{
                max-width:6rem !important;
        }
        #slogan #mntext{

                font-size:.8rem;

        }

} 
@media only screen and (min-width: 54rem) and (max-width:72rem){

        #slogan{
                max-width:6.1rem !important;
                height:auto;
                
        }
        #slogan #mnoutline{
                max-width:6rem !important;
        }
        #slogan #mntext{

                font-size:.8rem;

        }

} 
@media only screen and (min-width: 72rem) {
        body {
        	background-color:rgba(40, 87, 40, 1);
        }
       /* #slogan{
                max-width:6.1rem !important;
                height:auto;
                
        }
        #slogan #mnoutline{
                max-width:6rem !important;
        }
        #slogan #mntext{

                font-size:.8rem;

        }*/

        /*#slogan{
                max-width:8.1rem !important;
                height:auto;
                //border:solid red 1px;
                
        }
        #slogan #mnoutline{
                max-width:8rem !important;
        }
        #slogan #mntext{
                font-size:1.1rem;
        }*/

        #slogan{
                max-width:6.1rem !important;
                height:auto;
                
        }
        #slogan #mnoutline{
                max-width:6rem !important;
        }
        #slogan #mntext{

                font-size:.8rem;

        }


  .ic.menu { display: none; }
  
  /* Main Menu for Desktop Devices  */
  ul.main-nav { 
          background-color:transparent;
          display:block;
          margin:auto;
          padding:0;
  }
  ul.main-nav  > li{
          background-color:transparent;
          display:inline-block;
          margin:0;
          padding:0;
  }
  .sub-menu-block { padding: 15px; }
  
  /* Sub Menu */
  ul.main-nav > li > div.sub-menu-block { 
          display: block;
          visibility: hidden;
          position: absolute;
          top:1.97rem;
          left:0;
          min-width:100%;
          max-width:100%;
          width:100%;
          margin: 0px;
          color: #333;
          box-sizing: border-box;
          z-index : 3;
          font-size: 16px;
          opacity: 0;
    
          /*CSS animation applied for sub menu : Slide from Top */
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          -webkit-transform: rotateX(90deg);
          -moz-transform: rotateX(90deg);
          -ms-transform: rotateX(90deg);
          transform: rotateX(90deg);
          -webkit-transform-origin: top center;
          -ms-transform-origin: top center;
          transform-origin: top center; 
  
  }
  
  ul.main-nav > li:hover > div.sub-menu-block { 
          background-color: transparent; 
          visibility: visible;
          opacity: 1;
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          -ms-transform: rotateX(0deg);
          transform: rotateX(0deg);
  }
  ul.main-nav > li:hover > div.sub-menu-block > div.row{
    background-color: rgba(0, 0, 0, .8);
  }
  ul.main-nav > li > div.sub-menu-block > * {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
   	-webkit-transition-duration: 0.4s;
	  -moz-transition-duration: 0.4s;
	  -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  ul.main-nav > li:hover > div.sub-menu-block > * {
    opacity: 1;
  }
  
  ul.main-nav > li ul.sub-menu-lists > li a {
    color: #eee;
    font-size: 14px;
  }
  .sub-menu-head {
    font-size: 16px;
  }
  /* List Separator: Outer Border */
  header.dark ul.main-nav > li > a { background-color:transparent;border-right: 1px solid #bbb; }
  header.light ul.main-nav > li > a { background-color:transparent; border-right: 1px solid #666; }
  
  /* List Separator: Inner Border */
  ul.main-nav > li > a:after {
    content: '';
    width: 1px;
    height: 62px;
    position: absolute;
    right:0px;
    top: 0px;
    z-index : 2;
  }
  header.dark ul.main-nav > li > a:after { background-color: #777; }
  header.light ul.main-nav > li > a:after { background-color: #999; }
  
  /* Drop Down/Up Arrow for Mega Menu */
  ul.main-nav > li > a.mega-menu > span { background-color:transparent; display: block; vertical-align: middle; }
  ul.main-nav > li > a.mega-menu > span:after {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: '';
    background-color: transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }

  ul.main-nav > li:hover > a.mega-menu span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #666;
    background-color:transparent;
  }
  .banners-area { border-top: 1px solid #ccc; }

}
/*@media only screen and (max-width: 72em){
  body {
    background-color:rgba(0,0,0,1) !important;
    }
  .ic.menu {
    display: none !important;
  }
}*/

@media only screen and (max-width: 72rem){

    body {
        	background-color:rgba(40, 87, 40, 1) !important;
    }


  .sub-menu-head {
    color: orange;
  }
  .ic.menu {
    display: block;
  }
  header.dark .ic.menu .line {
        background-color: green;    
        //background-color: #fff;
  }
  header.light .ic.menu .line {
        background-color: green;
    //background-color: #000;
  }
  .ic.menu .line {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .ic.menu:focus .line {
    background-color: green !important;
    //background-color: #fff !important;
  }
  .ic.menu:focus .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ic.menu:focus .line:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
  }
  .ic.menu:focus .line:nth-child(3) {
    transform: translateY(15px);
    opacity: 0;
  }
  .ic.menu:focus {
    outline: none;
  }
  .ic.menu:focus ~ .ic.close {
    opacity: 1;
    z-index: 21;
    outline: none;
  }
  /*
  
  .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
  .ic.close:focus { opacity: 0; }
  */
  .ic.menu:focus {
    opacity: 1;
  }
  nav {
  background-color: transparent;
  }
  /* Main Menu for Handheld Devices  */
  ul.main-nav {
    z-index: 2;
    padding: 0px 0;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0px;
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    overflow: auto;
    /*CSS animation applied : Slide from Right*/
    -webkit-transition-property: background, width;
    -moz-transition-property: background, width;
    -o-transition-property: background, width;
    transition-property: background, width;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
  }
  .ic.menu:focus ~ .main-nav {
    width: 100%; //300px;
    background-color: rgba(0, 0, 0, .8);
  }
  ul.main-nav > * {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    opacity: 0;
  }
  .ic.menu:focus ~ .main-nav > * {
    opacity: 1;
  }
  ul.main-nav > li > a:after {
    display: none;
  }
  ul.main-nav > li:first-child {
    border-radius: 0px;
  }
  ul.main-nav > li {
    display: block;
    width:100%;
    border-bottom: 1px solid green;//#444;
  }
  ul.main-nav > li > a {
    font-weight: 600;
  }
  ul.main-nav > li ul.sub-menu-lists > li a {
    color: #eee;
    font-size: 14px;
  }
  .sub-menu-head {
    font-size: 16px;
  }
  ul.main-nav > li:hover {
    background-color: transparent;
  }
  ul.main-nav > li:hover > a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .ic.menu:focus ~ ul.main-nav > li > div.sub-menu-block {
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    position: relative;
    visibility: visible;
    opacity: 1.0;
  }
  .sub-menu-block {
    padding: 0 30px;
  }
  .banners-area {
    padding-bottom: 0px;
  }
  .banners-area div {
    margin-bottom: 15px;
  }
  .banners-area {
    border-top: 1px solid #444;
  }
}

