#testel {
  display: sticky; }

#whatup {
  border: solid red 1px; }

#whatup2 {
  border: solid green 1px; }

#whatup3 {
  border: solid blue 1px; }

#whatup4 {
  border: solid #E3E3E3 1px; }

#whatup5 {
  border: solid orange 1px; }
