@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia'), local('Arizonia-Regular'), url(https://crosscutproperty.com/scripts/fonts/arizona.ttf) format('truetype');
}
